#contenedor,html{
	height:100%;padding:0px;margin:0px;
	background-image: url("../img/fondo.png");
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#izquierda{
	display: inline-block; 
	width: 30%;
	height: 100%;
	position: fixed;left: 0px;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.parametros {
	width: auto;
    height: auto;
    max-width: 150px;
    background-color: #dbc2c7;
    margin: 20px;
    width: 80%;
    border-style: outset;
    border-color: #ca2a7b;
    font-size: 120%;
    padding: 0px 35px;
    margin-bottom: -10px;
}
#botonOn{
	display: none;
}

.derechaSmartphone{display: none;}

.derecha {
	background-repeat: no-repeat;
	background-position: right; 
	background-size: 30%;
	display:block !important;
	pointer-events: auto;
	width:5%; height:100%;
	position: fixed; right: 10px;
	top:20%;
}

#reanudar:active {border-style: inset;}
#reanudar:hover {background-color: #ce98e7; font-size: 100%;}

#pausa:active {border-style: inset;}
#pausa:hover {background-color: #ce98e7; font-size: 100%;}

#reiniciar:active {border-style: inset;}
#reiniciar:hover {background-color: #ce98e7; font-size: 100%;}

#ayuda:active {border-style: inset;}
#ayuda:hover {background-color: #ce98e7; font-size: 100%;}

#close:active {border-style: inset;}
#close:hover {background-color: #ce98e7;}

#reanudar {
	border-style: outset;
	border-color: #c4d9e0;
	display: inline-block;
	float: right;
	background-color: #d5e2d8;
	margin: 10px;
	margin-top: 5%;
	color: black;
	font-size: 0%;
	text-align: center;
	width: 70px;
	height: 70px;
	background-image: url("../img/reanudar.png");
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 50% 50%;
	pointer-events: auto;
}
#reanudar p {
	margin-top: 0px;
}
#reanudar img{
	height:100%;
}
#pausa {
	border-style: outset;
	border-color: #c4d9e0;
	display: inline-block;
	float: right;
	background-color: #d5e2d8;
	margin: 10px;
	margin-top: 5%;
	color: black;
	text-align: center;
	font-size: 0%;
	width: 70px;
	height: 70px;
	background-image: url("../img/pausa.png");
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: 50% 50%;
}
#pausa img{
	height:100%;
}
#reiniciar {
	border-style: outset;
	border-color: #c4d9e0;
	display: inline-block;
	width: 70px; height: 70px;
	float: right;
	font-size: 0%;
	color: black;
	text-align: center;
	vertical-align: text-top;
	background-color: #d5e2d8;
	margin: 10px;
	margin-top: 5%;
}
#reiniciar img{
	height:90%;
}
#ayuda {
	border-style: outset;
	border-color: #c4d9e0;
	display: inline-block;
	float: right;
	background-color: #d5e2d8;
	margin: 10px;
	margin-top: 5%;
	width: 70px;
	height: 70px;
	color: black;
	text-align: center;
	font-size: 0%;
}
#ayuda img{
	height:90%;
}
#derechaSmartphone {display: none;}

#menuayuda {
	display:none;
	height: 70%;
	margin: 5%;
	background-image: url(../img/interfaz2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	border-style: outset;
	position: relative;
	display: block;
	width: 90%;
}

#menuayuda h2{
	color:#2acaa4;
	font-size: 55px;
}
#menuayuda p{
	color: #c4d9e0;
	font-size: 30px;
}

#aterrizaje{
	height:15%;
	width:100%;
	position:fixed;
	bottom:0px;
	left:0%;
}
#superficie {
	height: 100%; 
	width: 100%;
}
#nave{
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:15%;
}
#imgNave{
	height:100%;
	display: block;
	margin: auto;
}
#saturno {
    text-align: left;
    position: fixed;
    top: 35%;
    height: 10%;
    left: 25%;
}
#jupiter {
    text-align: left;
    position: fixed;
    top: 48%;
    height: 10%;
    left: 5%;
}
#cerrar {
	background-color:#c4d9e0;
	border-style: solid;
	border-color: #00fa9a;
	width: 15%;
	max-width: 50px;
	position: absolute;
}